@charset "utf-8";

/* リセットcss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* その他のスタイルは以下に記述していきます */
.header{
  background: white;
  height: 50px;
}
.header-wrap{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  
}

.header-wrap h3{
  font-style: bold;
  font-size: 25px;
  margin-left: 20px;
}
.header-wrap a{
    text-decoration: none;
    color: black;
}
.header-nav ul{
  display: flex;
}
.header-nav li{
    font-size: 15px;
    margin-right: 20px;
}
.header-nav a {
    text-decoration: none;
    color: black;
}
#content{
  background: black url(../img/mv.png) no-repeat;
  background-position: center center;
  height: 300px;
  background-size: 100% 100%;
}

#content h3{
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 300px;
}
#section{
    height: auto;
    width: 80%;
}
.section-wrap-1{
    display: flex;
}

.img{
    margin-left: 10%;
    
}
.img img{
    height: 150px;
}

.text{
    margin-left: 20px;
}
.text h3{
    font-size: 25px;
    padding-bottom: 5px;
}
.line-1{
    width:90%;
    margin-left: auto;
}
#contact{
    background: #F8F8FF;
    text-align: center;
    height: 300px;
}

#contact h3{
    font-size: 25px;
    padding-top: 5%;
    padding-bottom: 2%;
}

#contact .contact-link{
    padding: 10px 30px;
  font-size: 14px;
  background: red;
  color: white;
  text-decoration: none;
  border: 1px red solid;
  border-radius: 1px;
  transition: 0.4s ease;
  width: 150px;  
  display: block;
  margin: 10px auto;
  text-align: center;
  margin-top: 5%;
}
.footer{
    background: black;
    height: 50px;
    display: flex;
align-items: center;
}
.footer-nav-list{
    display: flex;
    margin-left: 50%;
}

.footer-nav-list li{
    margin-right: 0%;
    font-size: 3px;
    margin-top: 2%;
    width: 50px;
   
}

.footer-nav-list a{
    text-decoration: none;
}
.footer-nav-list li+li{
    border-left: 1px solid white;
    padding:0 3px 0;
}
    
.footer-nav-list a{
    color: white;
}
.copyright{
    color: white;
    display: block;
    
    }

@media screen and (max-width: 768px) {
   /* この中にcssを記述 */
#hamburger {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  top: 15px;
  right: 20px;
  transition: 0.4s;
}

#hamburger span {
  position: absolute;
  left: 2px;
  display: block;
  width: 35px;
  height: 2px;
  background-color:black;
  transition: 0.8s;
}

#hamburger span:nth-of-type(1) {
  top: 10px; /* ハンバーガーメニューの1本目の棒 */
}

#hamburger span:nth-of-type(2) {
  top: 20px; /* ハンバーガーメニューの2本目の棒 */
}

#hamburger span:nth-of-type(3) {
  top: 30px; /* ハンバーガーメニューの3本目の棒 */
}

.header-nav {
  display: none; /* デスクトップのナビを消す */
}

.text{
    width: 100;
    height: 100px;
    
}
.section-wrap-1{
    height: 250px;
    width: 80%;
    display: block;
}
.footer{
    text-align: center;
    }
 .footer-nav-list{
   display: block;
   background: black;
   margin: initial;
   
}
.footer-nav-list li{
    text-align:center;
    padding:5px 5px;
}
.footer-nav-list li+li{
    border-left: initial;
    text-align:center;
    padding-bottom: 10px;
}
.copyright{
    color:white;
    background: black;
    margin-left:30%;
    height: auto;
    padding-top:3%;
}

.section-wrap-1{
    margin-left: auto;
    margin-right: auto;
}
#contact{
    height: auto;
}
 .text{
    width:250px;
    
}
#contact p{
    width: 80%;
    margin-left: 10%;
}
#section{
   margin:o auto;
}
}