@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.header{
  background: white;
  height: 50px;
}
.header-wrap{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  
}

.header-wrap h3{
  font-style: bold;
  font-size: 25px;
  margin-left: 20px;
}
.header-wrap a{
    text-decoration: none;
    color: black;
}

.header-nav ul{
  display: flex;
}
.header-nav li{
    font-size: 15px;
    margin-right: 20px;
}
.header-nav a {
    text-decoration: none;
    color: black;
}
#eyecatch{
    background: url(../img/mv.png) no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
}

#eyecatch h3{
    font-style: bold;
    color: white;
    font-size: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#eyecatch p{
    font-size: 15px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#concept{
    background: black;
    height: 300px;
    position: relative;
}

#concept h3{
    font-style: bold;
    color: white;
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 20%;
}
#concept p{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 20%;
    width: 900px;
}

#service{
    width: 1000px;
    height:auto;
    
}

#service h3{
    font-style: bold;
    font-size: 35px;
    margin-left: 65%;
    margin-top: 1%;
}
.service-contents-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 1000px;
    margin-left: 15%;
    padding-right: 90px;
    margin-left: 90px;
    margin-top: 1%;
}
.service-wrap-1{
    width: 50%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    
}
.service-wrap-1 img{
    width: 90%;
}
.service-wrap-1 p{
    font-size: 15px;
    width: 90%;
}
.service-wrap-1 h3{
    font-size: 10px;
}
#service .news-link{
    margin-left: 60%;
}
.service-link{
  padding: 10px 30px;
  font-size: 14px;
  background: red;
  color: white;
  text-decoration: none;
  border: 1px red solid;
  border-radius: 1px;
  transition: 0.4s ease;
  width: 150px;  
  display: block;
  margin: 10px auto;
  text-align: center;
}
#news{
    background: black;
    height: 450px;
    position: absolute;
    width: 100%;
    margin-top: 10%;
}

#news h3{
    font-style: bold;
    color: white;
    font-size: 25px;
    margin-left: 10%;
    margin-top: 8%;
    position: relative;
}

.news-link{
  padding: 10px 30px;
  font-size: 14px;
  background: red;
  color: white;
  text-decoration: none;
  border: 1px red solid;
  border-radius: 1px;
  transition: 0.4s ease;
  width: 150px;  
  display: block;
  margin: 10px auto;
  text-align: center;
}

.title-1{
    width: 80%;
    background: white;
    height: 40px;
    margin-top: 2%;
    margin-left: 9%;
}

.title-1 {
    color: black;
    text-align: left;
    line-height: 40px;
}

.title-2{
    width: 80%;
    background: white;
    height: 40px;
    margin-top: 2%;
    margin-left: 9%;
}

.title-2 p{
    color: black;
    text-align: left;
    line-height: 40px;
}
.title-3{
    width: 80%;
    background: white;
    height: 40px;
    margin-top: 2%;
    margin-left: 9%;
}

.title-3 p{
    color: black;
    text-align: left;
    line-height: 40px;
}

#blog{
    height: 350px;
    margin-top: 50%;
}

#blog .blog-wrap{
    display: flex;
    margin-bottom: 5%;
    margin-right: 9%;
        
}

#blog h3{
    text-align: center;
    font-size: 25px;
}
.blog-one img{
    height: 80%;
    width: 80%;
    margin-top: 10%;
}

.blog-one{
    margin-left: 20%;
}
.blog-one a{
    text-decoration: none;
    color: black;
}
.blog-two img{ 
    height: 80%;
    width: 80%;
    margin-top: 10%;    
}
.blog-two a{
    text-decoration: none;
    color: black;
}
.blog-three a{
    text-decoration: none;
    color: black;
}
.blog-three img{
    height: 80%;
    width: 80%;
    margin-top: 10%;
}

.blog-link{
  padding: 10px 30px;
  font-size: 14px;
  background: red;
  color: white;
  text-decoration: none;
  border: 1px red solid;
  border-radius: 1px;
  transition: 0.4s ease;
  width: 150px;  
  display: block;
  margin: 10px auto;
  text-align: center;
}

#company-recruit{
    height: 400px;
    margin-top: 10%;
}

.company-recruit-wrap{
    display: flex;
}

#company-recruit .company{
    height: 60%;
    width: 50%;
    background: red;
    color:white;
    text-align: center;
    padding: 8% 8%;
    text-decoration: none;
}

#company-recruit .recruit{
    height: 60%;
    width: 50%;
    background:black;
    color:white;
    text-align: center;
    padding: 8% 8%;
    text-decoration: none;
}
.company-recruit-link{
  padding: 10px 30px;
  font-size: 14px;
  background: red;
  color: white;
  text-decoration: none;
  border: 1px red solid;
  border-radius: 1px;
  transition: 0.4s ease;
  width: 150px;  
  display: block;
  margin: 10px auto;
  text-align: center;
  margin-top: 5%;
}

#contact{
    background: #F8F8FF;
    text-align: center;
    height: 300px;
}

#contact h3{
    font-size: 25px;
    padding-top: 5%;
    padding-bottom: 2%;
}

#contact .contact-link{
    padding: 10px 30px;
  font-size: 14px;
  background: red;
  color: white;
  text-decoration: none;
  border: 1px red solid;
  border-radius: 1px;
  transition: 0.4s ease;
  width: 150px;  
  display: block;
  margin: 10px auto;
  text-align: center;
  margin-top: 5%;
}

.footer{
    background: black;
    height:70px;
    margin-bottom: 0%;
    
}
.footer-nav-list{
    display: flex;
    margin-left: 60%;
}

.footer-nav-list li{
    margin-right: 1%;
    font-size: 12px;
    margin-top: 4%;
}
.footer-nav-list a{
    text-decoration: none;
}
.footer-nav-list li+li{
    border-left: 1px solid white;
    padding: 0 10px 0 10px;
}
    
.footer-nav-list a{
    color: white;
}
.copyright{
    color: white;
    line-height: 5px;
}
@media screen and (max-width: 768px) {
  #hamburger {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  top: 15px;
  right: 20px;
  transition: 0.4s;
}

#hamburger span {
  position: absolute;
  left: 2px;
  display: block;
  width: 35px;
  height: 2px;
  background-color:black;
  transition: 0.8s;
}

#hamburger span:nth-of-type(1) {
  top: 10px; /* ハンバーガーメニューの1本目の棒 */
}

#hamburger span:nth-of-type(2) {
  top: 20px; /* ハンバーガーメニューの2本目の棒 */
}

#hamburger span:nth-of-type(3) {
  top: 30px; /* ハンバーガーメニューの3本目の棒 */
}

.header-nav {
  display: none; /* デスクトップのナビを消す */
}
.service-contents-wrap{
    flex-wrap: wrap;
    width: 80%;
   margin-left:0; 
}
.service-wrap-1{
    width: 55%;
    margin-left: 0;
}
#service h3{
    margin-left:13%;
}

#service .news-link{
    margin-left: 10%;
}
#company-recruit .company{
height: 100px;
}
#company-recruit .company p{
    margin-top: 25%;
    font-style: bold;
    font-size: 20px;
}
#company-recruit .recruit{
height: 100px;
}
#company-recruit .recruit p{
    margin-top: 25%;
    font-style: bold;
    font-size: 20px;
}
.footer{
    height: 100px;
    background: red;
    flex-wrap:wrap;
    width: 380px;
}
.footer-nav-list{
margin-left: 0%;
}


}